<div class="container" role="alert">
    <div class="form-group">
        <label class="form-label mt-4">Seleccionar Columnas</label>
        <div class="form-group">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre de la variable" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2">Generar</button>
          </div>
        </div>
    </div>

    <div>
        <ul>
            <li>
                <fieldset class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-text">.00</span>
                      </label>
                    </div>
                  </fieldset>
            </li>
            <li>
                <fieldset class="form-group">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                      </label>
                    </div>
                  </fieldset>
            </li>
        </ul>
    </div>

</div>
